$mobile: 375px;
$desktop: 1440px;
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

$sub-opacity: 50%; // verified graduate
$paragraph-opacity: 70%; // inside quotations

$fontsize: 13px;
$font-family: 'Barlow Semi Condensed', sans-serif;
$medium: 500;
$semiBold: 600;